.header_nav {
  width: 100%;
  margin: 0;
  padding: 0 10% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.header_nav a span {
  font-size: 15px;
  color: #C9AE59;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav a span:hover {
  font-size: 16px;
  color: #FFDB58;
}

.header_nav a span i {
  font-size: 25px;
  padding-left: 15px;
}

#return {
  font-size: 15px;
  color: white;
  display: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  color: #C9AE59;
  cursor: pointer;
  transition: 0.5s ease all;
}

#return:hover {
  font-size: 16px;
  color: #FFDB58;
}

.cd-logo {
  position: initial;
  margin: 0;
}

.projects header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.projects header a {
  font-size: 15px;
  color: #C9AE59;
  padding: 0px 50px 30px 50px;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects header a:hover {
  font-size: 16px;
  color: #FFDB58;
}

.projects header a i {
  font-size: 25px;
  padding-left: 15px;
}

.projects .cards {
  margin-bottom: 80px;
}

.projects .cards .box {
  margin: 40px auto;
}

.projects .cards .box .yellow {
  margin: 0px auto;
  -webkit-box-shadow: 11px 0px 22px -2px rgba(5, 15, 14, 0.2);
  box-shadow: 11px 0px 22px -2px rgba(5, 15, 14, 0.2);
}

.projects .cards .box .yellow .grad {
  background: #182b29;
  background: -webkit-gradient(linear, left top, right top, from(rgba(24, 43, 41, 0.8)), color-stop(50%, rgba(24, 43, 41, 0.600175)), to(rgba(24, 43, 41, 0)));
  background: linear-gradient(90deg, rgba(24, 43, 41, 0.8) 0%, rgba(24, 43, 41, 0.600175) 50%, rgba(24, 43, 41, 0) 100%);
  -webkit-filter: gradient(startColorstr="#182b29", endColorstr="#182b29", GradientType=1);
          filter: gradient(startColorstr="#182b29", endColorstr="#182b29", GradientType=1);
}

.projects .cards .box .yellow .grad .black {
  margin-right: 1.5px;
  -webkit-box-shadow: inset -17px 0px 22px -2px rgba(5, 15, 14, 0.2);
  box-shadow: inset -17px 0px 22px -2px rgba(5, 15, 14, 0.2);
  display: block;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;
  background-size: 55px;
}

.projects .cards .line {
  height: 3px;
  width: 100px;
  background-color: #C9AE59;
  border-radius: 10px;
  margin: 0 50px;
}

.projects .cards .project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.projects .cards .project .project-all {
  background-color: #0f1918;
  border: 1px solid #C9AE59;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .cards .project .project-all:hover {
  background-color: #c9af5931;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .cards .project .cards_wrapper {
  height: 85%;
}

.projects .cards .project .cards_wrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .cards .project .cards_wrapper .card {
  width: 100%;
}

.projects .cards .project .cards_wrapper .card .card-img {
  padding: 10px;
}

.projects .cards .project .cards_wrapper .card .card_info p {
  padding: 0;
}

.projects .cards .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .cards img {
  width: 58%;
  height: auto;
}

.projects .cards .main-carousel {
  top: 40%;
}

.projects .cards .project-all {
  background-color: #0f1918;
  border: 1px solid #C9AE59;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .cards .project-all:hover {
  background-color: #c9af5931;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .cards_wrapper .card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
}

.projects .cards_wrapper .card .card-img {
  background-color: gray;
}

.projects .cards_wrapper .card .card_info h3 {
  color: #FFDB58;
}

.projects .cards_wrapper .card .card_info p {
  text-align: justify;
  text-transform: uppercase;
}

@media screen and (max-width: 290px) {
  .projects .top-title {
    font-size: 25px;
    padding: 5px 50px;
    margin: 30px 0;
  }
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .title {
    font-size: 20px;
    padding: 30px 50px;
    font-weight: bold;
  }
  .projects .cards .project {
    height: auto;
  }
  .projects .cards ul {
    width: 60%;
  }
  .projects .cards .box .yellow {
    width: 90%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad {
    width: 100%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 99%;
    height: 786px;
    margin-right: 1.5px;
  }
  .projects .cards #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards #item1-gallery {
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 5px 15px;
    transition: 1s all;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 13px;
  }
  .projects .cards #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .list {
    margin: 0;
  }
  .projects .cards_wrapper .card {
    width: 98%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .card .card-img {
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: none;
  }
  .projects .card_info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 11px;
    line-height: 1.5;
  }
  .projects .cards .box .yellow .grad .black {
    display: block;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    height: 600px;
  }
  #carousel div img {
    width: 420px;
    height: 280px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 360px;
    height: 240px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 330px;
    height: 220px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 310px;
    height: 190px;
    margin: 0 auto;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    -webkit-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    -webkit-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
  }
  #carousel div.prev {
    z-index: 7;
    left: 50%;
    -webkit-transform: translateY(70px) translateX(-50%);
            transform: translateY(70px) translateX(-50%);
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 50%;
    -webkit-transform: translateY(130px) translateX(-50%);
            transform: translateY(130px) translateX(-50%);
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 50%;
    -webkit-transform: translateY(-70px) translateX(-50%);
            transform: translateY(-70px) translateX(-50%);
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 50%;
    -webkit-transform: translateY(-130px) translateX(-50%);
            transform: translateY(-130px) translateX(-50%);
  }
}

@media screen and (min-width: 290px) {
  .projects .top-title {
    font-size: 30px;
    padding: 5px 50px;
    margin: 30px 0;
  }
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .title {
    font-size: 25px;
    padding: 30px 50px;
    font-weight: bold;
  }
  .projects .cards .project {
    height: auto;
  }
  .projects .cards ul {
    width: 60%;
  }
  .projects .cards .box .yellow {
    width: 90%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad {
    width: 100%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 99%;
    height: 786px;
    margin-right: 1.5px;
  }
  .projects .cards #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards #item1-gallery {
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 6px 15px;
    transition: 1s all;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 13px;
  }
  .projects .cards #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projects .cards_wrapper .card {
    width: 98%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .card .card-img {
    width: 70%;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: none;
  }
  .projects .card_info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.4;
  }
  .projects .cards .box .yellow .grad .black {
    display: block;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    height: 600px;
  }
  #carousel div img {
    width: 240px;
    height: 190px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 220px;
    height: 170px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 200px;
    height: 160px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 200px;
    height: 170px;
    margin: 0 auto;
  }
  #carousel div.hideLeft {
    left: 50%;
    opacity: 0;
    -webkit-transform: translateY(160px) translateX(-50%);
            transform: translateY(160px) translateX(-50%);
  }
  #carousel div.hideRight {
    left: 50%;
    opacity: 0;
    -webkit-transform: translateY(-160px) translateX(-50%);
            transform: translateY(-160px) translateX(-50%);
  }
  #carousel div.prev {
    z-index: 7;
    left: 50%;
    -webkit-transform: translateY(70px) translateX(-50%);
            transform: translateY(70px) translateX(-50%);
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 50%;
    -webkit-transform: translateY(130px) translateX(-50%);
            transform: translateY(130px) translateX(-50%);
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 50%;
    -webkit-transform: translateY(-70px) translateX(-50%);
            transform: translateY(-70px) translateX(-50%);
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 50%;
    -webkit-transform: translateY(-130px) translateX(-50%);
            transform: translateY(-130px) translateX(-50%);
  }
}

@media screen and (min-width: 400px) {
  .projects .top-title {
    font-size: 40px;
    padding: 5px 50px;
    margin: 30px 0;
  }
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .title {
    font-size: 30px;
    padding: 30px 50px;
    font-weight: bold;
  }
  .projects .cards .project {
    height: auto;
  }
  .projects .cards ul {
    width: 60%;
  }
  .projects .cards .box .yellow {
    width: 90%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad {
    width: 100%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 99%;
    height: 786px;
    margin-right: 1.5px;
  }
  .projects .cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projects .cards_wrapper #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards_wrapper #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards_wrapper #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item1-gallery {
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 7px 17px;
    transition: 1s all;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 15px;
  }
  .projects .cards_wrapper #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper .card {
    width: 98%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .card .card-img {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: none;
  }
  .projects .card_info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 13.5px;
    line-height: 1.5;
  }
  .projects .cards .box .yellow .grad .black {
    display: block;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    height: 600px;
  }
  #carousel div img {
    width: 330px;
    height: 240px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 310px;
    height: 210px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 320px;
    height: 220px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 290px;
    height: 190px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .projects .top-title {
    font-size: 50px;
    padding: 5px 50px;
    margin: 30px 0;
  }
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .project {
    height: auto;
  }
  .projects .cards ul {
    width: 60%;
  }
  .projects .cards .box .yellow {
    width: 90%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad {
    width: 100%;
    height: 790px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 99%;
    height: 786px;
    margin-right: 1.5px;
  }
  .projects .cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .list {
    margin: 0;
  }
  .projects .cards_wrapper #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards_wrapper #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards_wrapper #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item1-gallery {
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s all;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 15px;
  }
  .projects .cards_wrapper #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper .card {
    width: 98%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .card .card-img {
    width: 50%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: none;
  }
  .projects .card_info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 2;
  }
  .projects .cards .box .yellow .grad .black {
    display: block;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    height: 600px;
  }
  #carousel div img {
    width: 420px;
    height: 280px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 360px;
    height: 240px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 330px;
    height: 220px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 310px;
    height: 190px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .projects .top-title {
    font-size: 60px;
    padding: 5px 50px;
    margin: 30px 0;
  }
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .project {
    height: auto;
  }
  .projects .cards ul {
    width: 60%;
  }
  .projects .cards .box .yellow {
    width: 90%;
    height: 690px;
  }
  .projects .cards .box .yellow .grad {
    width: 100%;
    height: 690px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 99.5%;
    height: 687px;
    margin-right: 1.5px;
  }
  .projects .cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .list {
    margin: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projects .cards_wrapper #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards_wrapper #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards_wrapper #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards_wrapper #item1-gallery {
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s all;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 15px;
  }
  .projects .cards_wrapper #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper .card {
    width: 98%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .cards_wrapper .card .card-img {
    width: 50%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: none;
  }
  .projects .card_info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 2;
  }
  .projects .cards .box .yellow .grad .black {
    display: block;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    height: 400px;
  }
  #carousel div img {
    width: 440px;
    height: 300px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 410px;
    height: 270px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 390px;
    height: 260px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 350px;
    height: 220px;
    margin: 0 auto;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    -webkit-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    -webkit-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
  }
  #carousel div.prev {
    z-index: 7;
    left: 40%;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 30%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 60%;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 70%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards #item2-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 17px;
  }
  .projects .cards #item2-gallery:hover {
    color: #C9AE59;
    font-size: 18px;
  }
  .projects .cards #item2-gallery:hover i {
    color: #C9AE59;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards #item2-gallery i {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .projects .cards .project {
    height: 85%;
  }
  .projects .cards ul {
    width: 40%;
  }
  .projects .cards .box .yellow {
    width: 950px;
    height: 610px;
  }
  .projects .cards .box .yellow .grad {
    width: 950px;
    height: 610px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 945.5px;
    height: 607px;
    margin-right: 1.5px;
  }
  .projects .cards_wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .projects .cards_wrapper .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .projects .cards_wrapper #item1-gallery {
    padding: 10px 20px;
    margin: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s all;
    margin-right: 100px;
    border: 1px solid #C9AE59;
    border-radius: 20px;
    font-size: 15px;
  }
  .projects .cards_wrapper #item1-gallery:hover {
    background-color: #c9af5931;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .projects .cards_wrapper .card {
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .cards_wrapper .card .card-img {
    width: 40%;
    height: 90%;
    margin: 10px auto;
    padding: 10px;
  }
  .projects .cards_wrapper .mobile-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .card_info {
    width: 58%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 2.5;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 40%;
  }
  #carousel div img {
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 470px;
    height: 280px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 450px;
    height: 260px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 410px;
    height: 220px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1216px) {
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .box .yellow {
    width: 1100px;
    height: 700px;
  }
  .projects .cards .box .yellow .grad {
    width: 1100px;
    height: 700px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 1095px;
    height: 696px;
    margin-right: 3px;
  }
  .projects .cards_wrapper #item1-gallery {
    margin-right: 140px;
  }
  .projects .cards_wrapper .card {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .cards_wrapper .card .card-img {
    width: 40%;
    height: 90%;
    margin: 10px auto;
    padding: 10px;
  }
  .projects .card_info {
    width: 58%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 23px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 2.5;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
  }
  #carousel div img {
    width: 500px;
    height: 300px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 470px;
    height: 280px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 450px;
    height: 260px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 410px;
    height: 220px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1408px) {
  .projects .cards {
    margin-bottom: 80px;
  }
  .projects .cards .box .yellow {
    width: 1200px;
    height: 560px;
  }
  .projects .cards .box .yellow .grad {
    width: 1200px;
    height: 560px;
  }
  .projects .cards .box .yellow .grad .black {
    width: 1195px;
    height: 555px;
    margin-right: 3px;
  }
  .projects .cards_wrapper .card {
    width: 48%;
  }
  .projects .cards_wrapper .card .card-img {
    width: 40%;
    height: 90%;
    margin: 10px auto;
    padding: 10px;
  }
  .projects .card_info {
    width: 58%;
    margin: 0;
    padding: 0 10px;
  }
  .projects .card_info h3 {
    padding: 0 0 20px 0;
    font-size: 23px;
  }
  .projects .card_info p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 2.5;
  }
  #carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 40%;
  }
  #carousel div img {
    width: 550px;
    height: 320px;
    margin: 0 auto;
  }
  #carousel div.next img,
  #carousel div.prev img {
    width: 520px;
    height: 280px;
    margin: 0 auto;
  }
  #carousel div.hideLeft img,
  #carousel div.hideRight img {
    width: 410px;
    height: 260px;
    margin: 0 auto;
  }
  #carousel div.prevLeftSecond img,
  #carousel div.nextRightSecond img {
    width: 410px;
    height: 220px;
    margin: 0 auto;
  }
}

#carousel div.prevLeftSecond,
#carousel div.nextRightSecond {
  opacity: 1;
}

.main-carousel {
  width: 90%;
  height: 60%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5%;
}

#carousel {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.gallery .cards .pic {
  /* position: absolute; */
  height: 500px;
  width: 90%;
}

#carousel div {
  position: absolute;
  -webkit-transition: left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  transition: left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#carousel .buttons {
  display: none;
}

.buttons #prev,
.buttons #next {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  visibility: hidden;
  display: none;
}
/*# sourceMappingURL=project.css.map */